[2018-03-29 15:14] speedyyellow opened #2 "Is it possible to retrieve risco sensor states?"
We have a bunch of PIR's around the house for the alarm along with some door contact switches, it would be awesome if it was possible to expose these sensors to Homebridge via this plugin.  Do you know if the webapp has access to that level of information? or even if these sensors are active when the alarm is not armed?

[2018-04-07 14:00] szlaskidaniel commented on #2
Hi, in theory this should be possible, as when we call GET https://www.riscocloud.com/ELAS/WebUI/Security/GetCPState , we receive status for all defined detectors.

`
{
"id":0,
"bypassed":false,
"filter":"",
"classAttrib":"",
"data_icon":"detector",
"name":"Wejście",
"strTimeval":"15/03/2018 19:23"
},
{
"id":1,
"bypassed":false,
"filter":"",
"classAttrib":"",
"data_icon":"detector",
"name":"Garaż"

[2018-04-07 18:53] tkboyle commented on #2
Keep up the good work szlaskidaniel. I had been attempting to arm/disarm using post commands and gave up as I wasn't getting anywhere fast. The goal was to ultimately to use homebridge. Massive respect to you my friends for sharing this information. It's a pretty niche product so I'm stoked.

[2018-04-08 15:37] tkboyle opened #3 "Arm Command only sets Partition 0"
Do you think it will be possible to set multiple partitions on arm?
Would it be a case of using fiddler or Charlie to determine what is done in POST.

Happy to send some logging as arm would only set partition 0.

[2018-04-09 19:09] #2 closed

[2018-04-09 19:14] speedyyellow commented on #2
Thanks for getting back to me. That info looks like the sensor data you can view in the mobile app. Sadly it only shows that the sensor is enabled and not what the sensor reading is.

[2018-04-09 19:31] szlaskidaniel commented on #3
Hi, if you could provide logs from Chrome Browser - that would be helpful.
Open Developer Tools in Chrome, then switch to Network Tab (filter just XHR packets)
There are 1x GET and 1x POST that are interesting for us:

1) GetPCState (send every 5 sec), 1 of 5 contain more details like (overview key)
2) When you ARM your system, then this HTTP req is sent:
https://www.riscocloud.com/ELAS/WebUI/Secu

[2018-04-09 20:27] tkboyle commented on #3
Hi Daniel,

It looks like this.
`{partInfo: {armedStr: "0 Partitions ", disarmedStr: "3 Partitions ", partarmedStr: "0 Partitions "},…}`

The target type's looks like this `0:armed 1:armed 2:armed`

There are two things that I can't determine here. From the WebUI you can only enable partitions manually one by one, whereas on mobile app (IOS) you can arm all partitions at once and disarms at once.

[2018-04-10 17:55] szlaskidaniel commented on #3
Hi,

The issue is that we cannot select from HomeKit, which partitions you want to arm...
The easiest approach that I see here is to leave as it is for checking current state, is at least 1 is armed -> then we report this to HomeKit as "Away". When we've got 0 in an armed section -> Home.

For turn ON alarm, I believe that the best would be put inside the config the whole string that should be pas

[2018-04-12 16:04] tkboyle commented on #3
I'll give it a go and modify the code. Does it need comma (,) when passing the string?
 `0:armed,1:armed,2:armed` ?

[2018-04-13 21:53] szlaskidaniel commented on #3
@tkboyle please download the latest version and test.
It works for me (but I use only 1 partition).

[2018-04-16 17:26] tkboyle commented on #3
Hi Daniel,

Works for single partitions for me too. Just the syntax on how multiple string should be passed.
Spaces, commas, semicolon and %20 = did not work.

I'm going to need to put a proxy between the IOS app and perform an arm/disarm to see what is in POST.
Via the Browsers WebUI you can only arm one partition at a time so it's unlikely that I'll see the syntax using this method.

I'll get ba

[2018-04-17 08:44] tkboyle commented on #3
Hi Daniel,
The target type is just "armed" or "disarmed" This arms/disarms all partitions in one go.

[2018-04-17 12:50] szlaskidaniel commented on #3
Hi - so you say, that it is enough to set it without specifying partition number, only all armed or disarmed?
That's good. I'll leave this options in params in case some users want to arm/disarm only 1 partition.

[2018-04-17 17:31] tkboyle commented on #3
"armed" or "disarmed" will do all partitions. It works for me.

The only other variable left to discover is what is called "partial". This is a collection of sensors to create safe zones.

This depends on whether the installer defined these at time of installation.

[2018-04-18 07:02] szlaskidaniel commented on #3
Ok. Many thanks for help here & troubleshoot.
I'll leave it as it is - just update Readme file for instructions.

[2018-04-18 07:02] #3 closed

[2018-05-24 09:09] valeandres opened #4 "Voice command in italian"
great work on this repository. thank you for sharing.
excuse my ignorance but I use Italian as default Siri language on my phone and I can not seem to get it to "understand" me. if I switch to English it does work perfectly well. Any advice?

[2018-06-02 10:04] rp1989 opened #5 "Domoticz Accessory"
Hi,

Firstly, thank you for this! Works perfectly in homekit. Any ideas how i could make risco cloud work in domoticz?

Also do you have plans to make other zones working from homekit such as ‘part set’ rather then setting the alarm for whole house?

[2018-06-05 14:20] szlaskidaniel commented on #4
Hi, I'm glad that it works fine for you. According to Siri, I'm sorry but I cannot help here.
It's Apple issue / role here - not homebridge Plugin.

[2018-06-05 14:20] #4 closed

[2018-07-29 17:27] platini76 opened #6 "how to configure multi partitions"
It is not clear how to configure multi partition.

I have 2 partitions and I want to have possibility to activate/deactivate

ALL
PARTITION 1
PARTITION 2

it is possible and how?

[2018-08-01 12:46] szlaskidaniel commented on #6
Hi, nope.
When you ARM you ARM what is defined in config. By default ALL.
You can ovverride it by customized string for arm/disarm
like "0:armed 1:armed 2:armed".

Apologies but I do not have access to mulipartition system so this is based on help from other guy (closed issue in this repo)

[2018-09-26 06:44] allemattio opened #7 "Night Mode"
Hi,
I was reading about homekit support for three states for alarm systems:
 - home
 - night
 - away

This plugin supports only away mode and home, right?
I'm a software developer and I have a Risco alarm, maybe I can help developing the night mode if it's not supported yet.

In my Risco app I have 3 states, disarmed, armed and "partial". It would be nice for the night command to enable the partia

[2018-09-26 07:54] platini76 commented on #7
possiamo sentirci su whastapp? poi finito possiamo rendere pubblico il lavoro.
mia email info@dvd24h.it

[2018-09-26 18:45] valeandres commented on #7
Ciao ragazzi, è possibile inserire una zona (da tastiera a muro ho le zone A, B, C, D). Come posso fare? Mi aiutate?

[2018-09-26 18:46] platini76 commented on #7
infatti... per me il night mode è solo la zona x...

[2018-09-26 18:52] vddgil commented on #7
Are you planning to do it ?

I have the same configuration 1 zone and a partial arming ...

It seems that the keyword is `partially` for risco, I can help if you need to !

[2018-09-26 19:02] vddgil commented on #7
Awesome,

While reading the code i saw the `STAY_ARM ` state. It seems the the code arm the alarm when in that state. Is this correct ?

Thanks a lot !

[2018-10-05 16:38] aecom opened #9 "risco cloud update"
not working after Risco updated cloud config

can u fix ?

[2018-10-07 09:59] rp1989 commented on #9
+1 same issue

[2018-10-07 13:06] szlaskidaniel commented on #9
1.25 fix that

[2018-10-07 19:25] #6 closed, assigned to nobody

[2018-10-08 10:27] #9 closed

[2018-10-08 10:28] szlaskidaniel commented on #7
Hi @allemattio  , I've merged your changes into 1.26 v

[2018-10-08 10:29] szlaskidaniel commented on #5
It's not planned for now. But possible will be added later.
With help it should support proper reading for Partial Arm for now (1.26v)

[2018-10-08 10:29] #5 closed

[2018-10-08 10:53] allemattio commented on #7
Great!
Thank you so much

[2018-10-08 14:42] allemattio commented on #7
@szlaskidaniel I forgot to add the partialCommand to the readme, my bad!
Also in the readme it's not clear the instruction on how to retrieve the site ID, i found the soluzion by viewing the readme.rd as RAW, otherwise it's not clear

[2018-10-08 19:43] platini76 commented on #7
sorry but I really don't know how to config. I send you my iphone screenshot and my configuration
![img_23b1ebc4a063-1](https://user-images.githubusercontent.com/10352902/46629928-d19ff000-cb42-11e8-8519-2b29c1a7b9bd.jpeg)

my config:

"accessories": [
        {
            "accessory": "RiscoAlarm",
            "name": "RiscoAlarm",
            "polling": true,
            "pollInterval": 30000,

[2018-10-10 01:51] platini76 opened #10 "login error but working"
node:30974) UnhandledPromiseRejectionWarning: Error: Unhandled "error" event. (error)
    at pollingtoevent.emit (events.js:186:19)
    at done (/usr/lib/node_modules/homebridge-risco-alarm/node_modules/polling-to-event/index.js:33:20)
    at /usr/lib/node_modules/homebridge-risco-alarm/app.js:74:17
    at /usr/lib/node_modules/homebridge-risco-alarm/app.js:281:17
    at <anonymous>
    at process

[2018-10-12 14:11] szlaskidaniel commented on #10
Hi, you can try with new version, where Unhandled "error" event should be handled.

[2018-10-12 17:59] platini76 commented on #10
many and many log event.. only few pasted

_events:
   { end: [ [Function: responseOnEnd], [Function] ],
     close: [ [Function], [Function] ],
     data: [Function],
     error: [Function] },
  _eventsCount: 4,
  _maxListeners: undefined,
  socket:
   TLSSocket {
     _tlsOptions:
      { pipe: false,
        secureContext: [SecureContext],
        isServer: false,
        requestCert: true,

[2018-10-13 14:13] platini76 commented on #10
you have reason! I had problem with number! now it is ok but riscoalarm don't respond to commands

[2018-10-13 16:07:00] [RiscoAlarm] New state detected: (3) -> DISARM. Notify!
/bin/sh: 1: npm: Permission denied

and when I try to arm:

[2018-10-13 16:10:26] [RiscoAlarm] Setting state to STAY_ARM
keep sid:u5g699bs
[2018-10-13 16:10:29] [RiscoAlarm] New Risco state set.
[2018-10-13 16:10:31] [Risco

[2018-10-15 07:04] szlaskidaniel commented on #10
/bin/sh: 1: npm: Permission denied looks like your environment issue. I run this code on RaspberryPi Homebridge docker version.
When set different status for Risco - only AWAY_ARM and OFF works.

[2018-10-15 08:42] platini76 commented on #10
how to resolve?

[2018-10-15 20:54] platini76 commented on #10
which dir?
/usr/local/lib/node_modules/homebridge ?
this is my /usr/local/bin homebridge link

[2018-10-15 21:20] platini76 commented on #7
ok I found a config that work partially

            "armCommand": "armed",
            "partialCommand": "0:armed",
            "disarmCommand": "disarmed"

but in my homekit app happeds:

**at home -**>           [2018-10-15 23:17:39] [RiscoAlarm] Setting state to STAY_ARM
[2018-10-15 23:17:45] [RiscoAlarm] New Risco state set.
??????? it must disarm!! I am at home..... :)

**Out home**: disarm

[2018-10-16 12:51] szlaskidaniel commented on #10
run `npm update` inside main plugin folder (homebridge-risco-alarm) wherever it's installed

[2018-10-16 12:57] szlaskidaniel commented on #7
Hi, this is how `change state` from HomeKit works now:

`
switch (state) {
            case Characteristic.SecuritySystemTargetState.STAY_ARM:
                // stayArm = 0
                riscoArm = true;
                cmd = self.armCmd;
                break;
            case Characteristic.SecuritySystemTargetState.NIGHT_ARM:
                // stayArm = 2
                riscoArm = true;

[2018-10-16 23:45] platini76 commented on #7
for me th first state (at home) must be DISARM... if I am at home I need to have alarm off... or I lose something?

[2018-10-17 20:20] platini76 commented on #10
I dscover that in /var/homebridge/.node-gyp
there is 10.12 version..
how to cancel it and use 10.00?

[2018-10-17 20:50] platini76 commented on #10
at this point I doubt is permission on risco plugin:
ott 18 00:37:51 raspberry systemd[1]: Started Node.js HomeKit Server.
ott 18 00:38:05 raspberry homebridge[443]: /bin/sh: 1: npm: Permission denied
ott 17 22:38:07 raspberry homebridge[443]: [2018-10-18 00:38:07] Loaded config.json with 1 accessories and 5 platforms.
ott 17 22:38:07 raspberry homebridge[443]: [2018-10-17 22:38:07] ---
ott 17 22:

[2018-10-18 11:51] platini76 commented on #7
YOU have some reasons, because apple homekit consider AT HOME as ARMED.
AND THIS IS A BUG FOR ME.

[2018-10-18 12:15] allemattio commented on #7
I think that for Apple "At Home" means to activate only some partitions.
i.e:
 - at home -> activate only external sensors
 - away -> activate everything
 - night -> activate only external sensors
 - deactivated -> deactivate everything

Clearly this is not possible with this plugin as it uses Risco Web API and they don't easily allow that.
**My edit allows to activate the partial command offered

[2018-10-18 12:18] platini76 commented on #7
YOU HAVE reason 100%
and maybe this is the right configuration.

[2018-10-19 14:40] szlaskidaniel commented on #10
it's a question to Risco dev guys ...
generally inside package.json there is entry about required packages with their versions.

[2018-11-18 23:20] platini76 opened #11 "info on channel trigger"
Hello, it is possible to have separate channels and trig events?
example: I have 2 doors sensor... and I want to have them on my homekit...to trig light on and off... it is possible?

[2018-12-02 15:17] ekkesa opened #12 "Clarity on Readme"
Hi,

Thank you for this! I was looking for something like this for quite a long time. I see you reference partitions at the bottom of the page, is it possible to provide some clarity on it.

"When set partitions for arm/disarm please use below schema: For all partitions actions use default "armed" and "disarmed" , for single partition use "1:armed" and "1:disarmed""

I have 4 partitions, which I u

[2018-12-04 21:26] #11 closed, assigned to nobody

[2018-12-05 08:45] szlaskidaniel commented on #10
close - as this is not related directly with the plugin

[2018-12-05 08:45] #10 closed

[2018-12-05 08:46] #7 closed

[2019-02-07 13:47] andyblac opened #13 "Multiple instances of plugin"
I have setup multiple instances of plugin so I can show each partition in HomeKit. see snippet below. But if I set a partition it shows both as ARMED in HomeKit, is there anyway you can allow multiple instances of the plugin to be seen in HomeKit as separate Alarms.

[code]

![img_0187](https://user-images.githubusercontent.com/77936/52415441-dc619600-2ade-11e9-8e43-9cd8325d5cf6.jpg)

[2019-02-07 13:51] andyblac commented on #11
@platini76 if you have those sensors on a separate partition, you could just add that single portion to HomeKit then do an automation based on if it is armed or not ?

![img_0189](https://user-images.githubusercontent.com/77936/52415630-71fd2580-2adf-11e9-8af3-37330c325187.jpg)

[2019-02-07 17:46] andyblac commented on #12
hi,

I have tweaked the authors code to allow this if you have multiple zones, if your interested in testing let me know.

it requires you to have your Risco setup as follows:

2 Partitions, 1 for house, 1 for outside. and the house 'Part-Set' needs to only set the sensors you require when in NIGHT mode.

my setup is as follows:

HOME = outside only
AWAY = all set
NIGHT = House in part set mode
OF

[2019-02-07 17:51] platini76 commented on #12
I don't understand... if sensors are for your system "outside" are perimetral... and so... night must be set only "outside" sensors... and not "home"

[2019-02-07 18:01] andyblac commented on #12
if you set, Home then Night, it will leave outside alone, thus have both alarmed. my garage is always alarmed unless I want to go in (thus OFF).

[2019-02-07 18:02] andyblac commented on #12
[code]

as you see I added 'homeCommand'

[2019-02-07 18:10] andyblac commented on #12
it not perfect, but the best I can do with my little knowledge with Homebridge.

[2019-03-08 10:10] ekkesa commented on #12
Unfortunately I have 4 partitions in my system and given the climate I cannot compromise the alarm system.

Would like to understand what you implemented to see if I can perhaps get it to work in my instance.

[2019-07-10 18:59] pergolafabio opened #14 "can i use this as standalone?"
i also have risco alarm system, but i dont use homebridge, but Home Asssistant instead
can i load this script/project as a standalone? maybe with a script or shell command or something? so i can retrieve the state and set the state?

thnx

[2019-07-11 06:36] szlaskidaniel commented on #14
hi, yes it can be used as a module. You'll need to write your own nodejs service. expose a methods that you want to use like (arm / disarm) - and what's left is just call functions inside this solution.

[2019-07-11 06:44] pergolafabio commented on #14
Well, I am not a developer ;( , but gonna learn it next year ;)... So that's a project for next year...

But anyway, I am already using/testing 2 other Risco projects I found on GitHub, they use indeed a nodejs service... But they both have the same issue... They do a polling, but the actual state of Risco is with a delay like 4-5 mins....

The problem is , when you arm/disarm, from a Risco hardwa

[2019-07-11 10:23] szlaskidaniel commented on #14
I read status from:
`https://www.riscocloud.com/ELAS/WebUI/Overview/Get`
and
`https://www.riscocloud.com/ELAS/WebUI/Security/GetCPState`

I didn't notice delays tough.

[2019-07-11 10:26] pergolafabio commented on #14
Well, that command does give you a delay... ;)

You can test it verry easy, just login in riscocloud.com , arm/disarm from a hardware panel... You see state changing in about 3-4 minutes...

Don't use the app while testing, that seems to push it instant

[2019-07-12 10:36] pergolafabio opened #15 "Public API verry soon available"
good news guys, just got information that risco wil launch soon a public API for developers, they will inform me next week about ETA
seems they also finished integration with amazon alexa already, probably launching verry soon

[2019-07-12 10:39] szlaskidaniel commented on #15
That’s a really good news ! Thank you for sharing

[2019-07-12 10:47] pergolafabio commented on #15
will provide some more info when i have it, normally today or next week :)
indeed, good news, finally! :)

[2019-07-12 10:52] pergolafabio commented on #15
found something already on their site now :

https://www.riscogroup.com/products/solution/7815

Integrated Systems and Software Development Kit (SDK)
The SynopSYS Integrated Security & Building Management™ SDK enables driver development and third party integration.

The platform includes a comprehensive and flexible integrator toolbox for building professional synoptic maps and interactive buttons

[2019-07-17 11:25] szlaskidaniel commented on #15
I think this is quite old SDK :( , not really useful for us.
"SynopSYS Integrated Security & Building Management™ Driver SDK Programmer Guide" was released Installer Guides - Last Modified: 10/09/2018 - 16:45.

Unless you know something more about some kind of JSON based REST https API

[2019-07-17 11:40] pergolafabio commented on #15
Yeah, I know, I was wrong about that sdk, that's why I removed the reply...
The cloud API that is going to be released, is indeed something new...

[2019-07-17 11:41] szlaskidaniel commented on #15
ok. let's wait what they'll show. Thx for this tip.

[2019-07-17 11:41] #15 closed

[2019-09-05 14:05] karan1686 opened #16 "Handle Zone"
Is there any ways to handle zones? I got 1 partition with 4 zones (A,B,C,D) which arm different parts of the system

[2019-09-18 21:05] tomdoherty opened #17 "login [step1] > error: Username/Password mismatch"
Hi
As of today, with no changes to my configs, I see the above.

I can login to risco cloud as normal using the same username/password/pin

Am I the only one?

Thanks

[2019-09-18 22:39] andyblac commented on #17
no, I'm  getting the same

[code]

[2019-09-19 06:07] megajeff75 commented on #17
Risco sent out an email to everyone saying they were updating their website and app. The app now does FaceID etc. The website has been updated so the plug in will need to be updated to work with the new web pages.

[2019-09-19 07:05] tomdoherty commented on #17
Hi

I intercepted the POST request for the login and it looks the same. Hoping they haven’t introduced js or something to thwart us

[2019-09-19 07:22] szlaskidaniel commented on #17
That’s bad news, I ve got the same, happen during leaving for vacations:(
I will check it but in the end of the month when I back home.

[2019-09-19 07:42] tomdoherty commented on #17
Thanks Daniel. I’ll have a try but I’m getting married in a couple of days and then honeymoon

Thanks for your work on this - it’s been so useful we’ve come to rely on it

[2019-09-19 12:31] megajeff75 commented on #17
I can't code to save my life but what the hell. In the meantime time permitting I'll take a gander into it.

[2019-09-19 14:29] pergolafabio commented on #17
yeah, something changed in 5.2 cloud
lucas version is also impacted https://github.com/lucacalcaterra/risco-mqtt-bridge
this bridge (home assistant addon) is still working : https://github.com/martingrayson/risco-hass-bridge

[2019-09-19 15:22] andyblac commented on #17
wish I knew how to code js, I know python but not js. :(

[2019-09-19 19:05] gawindx commented on #17
Hello

I also encounter the same problem but by doing some research and adaptations I managed to pass the problem with the following code (login function in file risco.js) :

function login() {
    return new Promise(function (resolve, reject) {
        //self.log('login [step1] to RiscoCloud first stage...');
        var post_data = 'username=' + risco_username + '&password=' + risco_password;

[2019-09-19 22:31] andyblac commented on #17
@gawindx nice one seems work here also, but `OngoingAlarm` is still not functioning, can you confirm ?

[code]

[2019-09-20 00:12] andyblac commented on #17
ok fixed TRIGGERED. and applied @gawindx patch here is my files, I have also tweaked code to support 'HOME' in config `"homeCommand": "1:armed",` allowed you to set a separate zone for HOME in HomeKit.

the only downside to `HOME` is HomeKit can not see zones, so I have assumed you have multiple Zones, it is coded that if 1 zone, is armed it assumes HOME is armed, and if you have more than 1 Zone

[2019-09-20 05:19] gawindx commented on #17
unfortunately, I can not confirm for the moment any problem with state "ongoingalarm"
on the other hand, I could run a few tests this weekend and see what that gives. if there is indeed a problem and I can solve it, I will share the correction.

[2019-09-20 07:10] tomdoherty commented on #17
@andyblac hi Andy, I tried the risco.zip but it fails to modify the actual state of my alarm. Does it work for you?

[2019-09-20 07:28] andyblac commented on #17
@tomdoherty did set on panel ? just not display in homekit ?

[2019-09-20 07:30] andyblac commented on #17
@tomdoherty hmm your right, did not check I was focused on HomeKit last night lol.

[2019-09-20 07:32] tomdoherty commented on #17
Hey @andyblac I tried arming the alarm using HomeKit. It fails to arm. When I arm it manually it picks up the new state so you’ve fixed the original issue but this is a new one 😊

[2019-09-20 08:00] andyblac commented on #17
@tomdoherty got it working, just cleaning up debug logs, I'll post soon

[2019-09-20 08:07] andyblac commented on #17
@tomdoherty try this one, I had to use @gawindx tweak to fix arm/disarm too.

[risco.zip](https://github.com/szlaskidaniel/homebridge-risco-alarm/files/3634818/risco.zip)

[2019-09-20 09:21] pergolafabio commented on #17
if its helpfull, i am using this bridge
that one is still working, there was even no code change needed, i am using it with cloud 5.2 , getting status is still working, as well the commands to arm/disarm

https://github.com/martingrayson/risco-hass-bridge

[2019-09-20 09:43] gawindx commented on #17
tests that I realized to solve the problem, the header "content-length" seems very important, as well as the fact of not sending data json for the login

[2019-09-20 10:10] lucacalcaterra commented on #17
content-lenght is not sets on my app and it works. Instead i'm find that the solution is the second you wrote (not sending json !!!!)

[2019-09-20 10:11] lucacalcaterra commented on #17
Eureka ! Works! thanks to @gawindx for the solution. the body of request !!!

[2019-09-20 11:24] andyblac commented on #17
@gawindx do you think it would be possible to get Armed status from `SECURITY` page instead of `Overview` System Status partitions armed ?

![Screenshot 2019-09-20 at 12 24 00](https://user-images.githubusercontent.com/77936/65323562-9656cf80-dba1-11e9-8c31-4fe7bd71a95c.jpg)
![Screenshot 2019-09-20 at 12 23 51](https://user-images.githubusercontent.com/77936/65323563-9656cf80-dba1-11e9-8c85-ad2d53

[2019-09-20 11:29] pergolafabio commented on #17
Yes, if arming from a Risco panel, then the state is indeed delayed for like 4-5 min... Although, the event is coming in directly

[2019-09-20 11:30] gawindx commented on #17
I do not just think so, I'm sure. I was working on this possibility when Risco updated their cloud. To be more precise, I'm working on having a mode 'by zone'

[2019-09-20 11:46] andyblac commented on #17
in this plugin ??, mine takes seconds, do you have polling enabled ?

[code]

[2019-09-20 11:49] andyblac commented on #17
that would be good, as a work around I have duplicated the plugin so I have Alarms `House & Garage', but the down side it that I have to use if partitions > 0 or > 1 for each, that means garage works ok, but for house I have to have arm both so HomeKit see's when it armed.

[2019-09-20 11:56] pergolafabio commented on #17
no, i dont use homekit, i use home assistant :)
but the behaviour is the same, you can easely check
so arm/disarm from a risco hardware panel, login to riscocloud.clom, arm with the panel...
see the slider in the overview only changing after about 4-5 min....
if you arm/disarm from the risco app on adroid , the slider on the overview page will change instantly ...

[2019-09-20 11:58] andyblac commented on #17
ye works instantly here.

[2019-09-20 12:04] pergolafabio commented on #17
yeah, i mean that buttons, it isnt a slider indeed
but maybe the behaviour changed in 5.2 ...
before, if i arm from my panel, you see that buttin from green to red, changing after 4-5 min
if you open the app, then its instant

[2019-09-20 12:06] andyblac commented on #17
@pergolafabio just a few tests, and as soon as I arm/disarm on my Risco panel, my web page update after a refresh, iPhone app update., HomeKit and emails come through.

this has always been the case here.

[2019-09-20 12:08] pergolafabio commented on #17
yeah, but while testing, close your app on android/iphone, otherwise the change is indeed instant... app should be closed
but again, maybe the behaviour changed in 5.2 cloud update

[2019-09-20 12:10] andyblac commented on #17
app was forced quit, when testing.

[2019-09-20 12:14] andyblac commented on #17
just tested again, page updates instantly here not matter what you do.

[2019-09-20 12:15] pergolafabio commented on #17
strange, ill test again when i am home :)
but anyway, there will be a public API available soon, then code needs to be changed again, and integration will be easier :)

[2019-09-20 12:16] andyblac commented on #17
oh cool where you get that info from ?

[2019-09-20 12:18] pergolafabio commented on #17
risco itself, i quote the last mail :

[code]

[2019-09-20 12:25] andyblac commented on #17
thanks.

[2019-09-20 15:20] lucacalcaterra commented on #17
Reading it... my opinion is that is not a near future thing ...  but it's only my personal advice

[2019-09-20 15:25] pergolafabio commented on #17
Will see ;) I asked again for eta, and also private API again

[2019-09-20 15:50] megajeff75 commented on #17
Hey Andy,
Thanks mate. I've tried your files however it doesn't work for me? I still
seem to be getting username/password mismatch three times then lockout.

I've replaced the two .js files in the
/homebridge/node_modules/homebridge-risco-alarm/

not sure what I might have done wrong. Restarted, checked my config in
homebridge was as before.

On Fri, 20 Sep 2019 at 16:07, Andy Blackburn <notificat

[2019-09-20 15:59] gawindx commented on #17
@lucacalcaterra  and @pergolafabio
I do not think it will be tomorrow either.
In France (and certainly not only in France), Risco has a program to reward big installers / customers (in terms of turnover)
One of their advantages is the possibility of deploying a personalized smartphone application (logo, color, etc ...).

If they open their APIs, anyone can use it and create their own application.

[2019-09-20 17:54] andyblac commented on #17
if your getting locked out then it is sending username / password to risco, check your config make sure there correct.

just to be sure this is last file linked above https://github.com/szlaskidaniel/homebridge-risco-alarm/files/3634818/risco.zip

[2019-09-21 01:43] megajeff75 commented on #17
Thanks Andy. I can't make the changes work. I did a file compare between
the files and I'm definitely using your new version. I've copied and pasted
the username, password, pin from config file (the same configuration that
was working and is unchanged). No worries, I'll wait for the official fix
release in good time.

On Sat, 21 Sep 2019 at 01:54, Andy Blackburn <notifications@github.com>
wrote:

[2019-09-21 10:37] andyblac commented on #17
@megajeff75 send me your file, I'll just add the user / pass change for you.

[2019-09-21 11:04] andyblac commented on #17
@pergolafabio I have been doing loads of tests, it seems your where right, but even worse the app is the same, for I did the following, force close app, BUT WAIT AT LEAST 5 MINS, so the authentication has timed out, then arm the alarm via the panel, once it is set open the Risco App, the app will NOT show the real current status, It shows as disarmed, once you change the Armed status on the phone

[2019-09-21 11:42] andyblac commented on #17
just emailed Risco with below.

[code]

[2019-09-21 11:43] pergolafabio commented on #17
Yeah, I know, but now it seems even worse then? Before , if I open app, i saw the real status...

[2019-09-21 11:50] pergolafabio commented on #17
Before 5.2, when I armed from a panel, if I opened the app after the walk out timer was complete, the app showed the real status, do that's not true anymore now?

[2019-09-21 14:33] andyblac commented on #17
correct, app does not show the count down then slide over to armed, unless you 1st give it your FaceID by manually setting from the app.

Then it will work until the authentication times out.

this also means you get No Alarm notifications when app is closed in back ground.

[2019-09-21 14:36] andyblac commented on #17
just got off phone with my alarm installer, he has asked me to ask someone with Android Phones to see if it happens on that too, or is it just an iPhone issues,

Can anyone here with an Android Phone check my above procedure and report back.

[2019-09-21 14:40] pergolafabio commented on #17
Android doesn't have faceid.. ;)

[2019-09-21 14:48] andyblac commented on #17
@pergolafabio ye I know but just the app work without need to enter the PIN ??

[2019-09-21 14:49] pergolafabio commented on #17
Yeah, to arm/disarm I need to enter pin... But can't test this weekend, maybe someone else

[2019-09-21 14:50] pergolafabio commented on #17
But I can open the app without need to enter pin, maybe that's different then on iPhone?

[2019-09-21 14:53] andyblac commented on #17
I mean on my iPad min 2 (no FaceID) if I just open the app, and try to set alarm via panel, the app does NOT show new status, until I first manually set the alarm 1st, then because I have entered my PIN, if I try to reset the Alarm on the panel, the app works fine.

[2019-09-21 14:54] andyblac commented on #17
yes, on iPad / iPhone you can open the app, without entering anything, it only asks for a PIN on arming / disarming.

[2019-09-21 20:14] pergolafabio commented on #17
Btw, public API will be released probably this year, just got new Intel ...

[2019-09-22 11:49] andyblac commented on #17
@tomdoherty try files from here, these are the original file, just with login update https://github.com/andyblac/homebridge-risco-alarm/tree/master-login-fixed

[2019-09-22 14:30] andyblac commented on #17
@szlaskidaniel you can try my new refactored version, that gets correct Control Panel state and Alarm state, i have optimised code quite a bit.
https://github.com/andyblac/homebridge-risco-alarm/tree/master-cleanup

If you want a Pull Request just ask.

[2019-09-23 11:11] megajeff75 commented on #17
So my issue would seem to be related to password characters that cannot be
sent programmatically via many of the risco addons including this one and
risco-mqtt-bridge. I determined that having a "&" within the password
breaks the transmission of the password. When I edited the password to take
out that character the risco-mqtt-bridge then worked. Presume this one
would too now. This character is a

[2019-09-23 11:24] andyblac commented on #17
glad you got it working, have you tried my optimised version ?, seems too be running very well here, and I now get alerts if alarm goes off, something that seems to be broken in the original version.

[2019-09-25 06:20] rp1989 commented on #17
Hi @andyblac, i just installed the master-cleanup but i am still getting the Username/password mismatch error when starting homebridge. Any ideas please?

[2019-09-25 06:22] megajeff75 commented on #17
Try using a simple password  for testing (smaller, less fancy characters).
I removed the ampersand from my password and it worked. Didn’t check if
that was due to the length reducing by one character or the character
itself. I got it to work after having similar issues.

On Wed, 25 Sep 2019 at 2:20 pm, rp1989 <notifications@github.com> wrote:

[2019-09-25 06:29] rp1989 commented on #17
Hi @megajeff75, i tried changing this but the requirement for the password is to have a uppercase letter, a number and a special character when changing the password. I have set this to ‘Testing01-‘ but still getting the login failed error.

[2019-09-25 12:06] andyblac commented on #17
try using html escape code likes `&amp;` for `&` in the config.

[2019-09-25 12:44] andyblac commented on #17
@rp1989 @megajeff75 can you both try https://github.com/andyblac/homebridge-risco-alarm/tree/master-login-pass-encode-test this branch to see if it fixes the special chars in passwords failing,

Thanks.

[2019-09-25 15:28] andyblac commented on #17
just had word back RISCO, they have fixed the issue I emailed them about, so now panel to app now works again, and thus panel to this plugin is also fixed.

[code]

[2019-09-25 20:55] rp1989 commented on #17
Seems to be all working now thank you! Will need to test the states properly tomorrow. Will report back once i have had a chance to test.

[2019-09-25 23:08] andyblac commented on #17
Thanks, if all working, I'll create a Pull Request for @szlaskidaniel from my cleanup branch (as I have merged the login fix into that).

Just let me know how you get on in your tests.

again thanks.
Andy.

[2019-09-26 16:34] gawindx commented on #13
@andyblac, I think this release will provide a solution to state management.
I took as starting point your code (a few days ago) so your last changes will surely not all present.

For my part, the plugin seems to behave properly and I have tortured it in every way to try to flush out the errors.

If you can give me a return, I will correct any remaining errors and I will propose the code in pull r

[2019-09-26 22:04] rp1989 commented on #17
Hi @andyblac i have tested everything today and can confirm everything seems to be working as expected. The states all work on homekit and password can have & or any other characters without any issues. Thanks you for all your help with this!

[2019-09-26 22:51] andyblac commented on #17
no problem, glad I could help, I'll create a pull request for @szlaskidaniel incase he just wants to pull my changes.

[2019-09-27 03:53] aecom commented on #17
Hi
How do I install this

Thanks

Eliran Moshe®
Sent from my iPhone  PR⭕️  ma❌

[2019-09-27 09:05] andyblac commented on #17
@aecom my updates ? here unzip this file and FTP the 2 js files into the plugin folder on your homebridge install folder.

[updates.zip](https://github.com/szlaskidaniel/homebridge-risco-alarm/files/3661896/updates.zip)

[2019-09-27 09:30] aecom commented on #17
Don’t I have to change config ??
To add new alarm partitions??
Thanks

Eliran Moshe®
Sent from my iPhone  PR⭕️  ma❌

[2019-09-27 11:24] andyblac commented on #17
no, original config will work fine.

[2019-09-28 10:24] andyblac commented on #16
the new merged code from @gawindx add this support, just add multiple configs for the required zones.

like my example:
[code]

[2019-09-28 10:27] andyblac commented on #13
yes, works sport on thanks.

[2019-09-28 10:30] #13 closed

[2019-09-29 14:47] karan1686 commented on #16
Thanks for the information.  I have updated the plugin now.

I have got it to arm all partitions now. But when I try to create a second config for Zone C for example. I used Partid:3 l, but doesn’t arm just C with this config.

Have I got that partid part correct?

Thanks again

[2019-09-29 14:50] andyblac commented on #16
post your config I'll have a look, (remove username, pass, pin etc)

[2019-09-29 15:11] karan1686 commented on #16
Please see below

        {
            "accessory": "RiscoAlarm",
            "name": "Whole House Burglar Alarm",
            "polling": true,
            "pollInterval": 10000,
            "riscoUsername": "",
            "riscoPassword": "",
            "riscoSiteId": ,
            "riscoPIN": "",
            "armCommand": "armed",
            "homeCommand": "partially",
            "partialCo

[2019-09-29 15:14] andyblac commented on #16
ok, this update only sets `partitions` not `groups`, as you only have 1 partition it will not allow you to control your groups, tbh I don't even know what those are or how they are used in the Risco app.

[2019-09-29 15:27] karan1686 commented on #16
Okay fair enough that make sense now.

This is how it was configured by the installer, so not sure how to change it now

[2019-09-29 15:32] andyblac commented on #16
Give him a call, he should be able to change it remotely for you.

[2019-09-29 15:50] karan1686 commented on #16
Yeah I will try that. Thanks for your help so far.

[2019-09-29 17:31] steenbar81 commented on #17
Hi. I am pretty new to this, I haven't been able to get my homebridge to log in since this reported change. When I found this thread I thought I would be able to fix it but I am still getting the same warning. I have tried using these files you suggest Andy, but I am not too sure what I am doing with them. Can anyone help me?

thanks... Stevie

[9/29/2019, 6:30:05 PM] [RiscoAlarm] Status Code:  20

[2019-09-29 19:01] andyblac commented on #17
download to new files from git, try those.

[2019-09-29 19:33] steenbar81 commented on #17
I think it might be the last bit where I am failing. I downloaded the 2 files, the Mac unzipped them and I dragged them into the .homebridge folder (where the config is?) but no change. Same error.

[2019-09-29 19:41] andyblac commented on #17
they need to go in the plugin folder inside `node_modules` check these 2 locations

`/usr/lib/node_modules/homebridge-risco-alarm` or `/home/pi/node_modules/homebridge-risco-alarm`

[2019-09-29 20:01] steenbar81 commented on #17
Sorry Andy, might be beyond me this. I input that and for each location it says "no such file or directory"

[2019-09-29 20:56] steenbar81 commented on #17
I think I have it, thanks for your help Andy. Much appreciated.

[2019-09-29 22:03] steenbar81 commented on #17
and now I'm getting a CAD-8 error message, doh!!

[2019-10-14 19:45] andyblac opened #21 "Issue when alarm is Trigged"
when the alarm is going off aka triggered, HomeKit's tile does say triggered, BUT, a long pressing on the title brings up the dialog that shows OFF highlighted, so in order to cancel the alarm one has to 1st set and then unset the alarm by choosing AWAY, then OFF.

Is this a HomeKt issue or an issue the with the plugin ?

[2019-10-17 20:23] #14 closed

[2019-10-18 13:23] szlaskidaniel commented on #21
Hi, I believe it's HomeKit stuff.
Plugin is able to only change states (Home / Away / etc) , once new state is received, it execute command on Risco page. There is no implemented "Turn Off Alarm" HTTPS request from Plugin to Risco as there is no available Button on HomeKit to allow me to do that.

[2019-10-18 13:23] #21 closed

[2019-10-18 13:24] #12 closed

[2019-10-18 13:25] szlaskidaniel commented on #17
closing this thread as original issue was solved.
Thanks all to that participated and helped here.

[2019-10-18 13:25] #17 closed

[2019-10-18 13:25] andyblac commented on #21
but why does the the alarm in HomeKit switch to OFF and not stay on AWAY in HomeKit?

[2019-10-18 13:26] szlaskidaniel commented on #16
Close Issue as the discussion stopped.

[2019-10-18 13:26] #16 closed

[2019-10-18 13:31] szlaskidaniel commented on #21
I didn't tested that approach long time ago, not sure how to "Turn it off from HomeKit".

In theory code is ready for that:
`var riscoState;
                // 0 -  Characteristic.SecuritySystemTargetState.STAY_ARM:
                // 1 -  Characteristic.SecuritySystemTargetState.AWAY_ARM:
                // 2-   Characteristic.SecuritySystemTargetState.NIGHT_ARM:
                // 3 -  Character

[2019-10-18 13:34] andyblac commented on #21
yes. we are setting 4, that is TRIGGER in HomeKit, so it looks like 4 in the action screen (HOME, NIGHT, AWAY, OFF) default to OFF and not keeping the original state. I guess there is nothing we can do.

[2019-10-18 13:47] andyblac commented on #21
looking to https://github.com/KhaosT/HAP-NodeJS/blob/bb0c5b9af02e40b3ee7fc2352eb5ada20b369c68/src/lib/gen/HomeKit.ts#L2045

[code]

it does not support 4 so where is TRIGGER set ?

[2019-10-18 13:50] andyblac commented on #21
oh found it here https://github.com/KhaosT/HAP-NodeJS/blob/HEAD/src/lib/gen/HomeKit.ts#L2015

[2019-10-18 13:52] andyblac commented on #21
so it does look like a HomeKit issue not Homebridge or this plugin.

[2019-10-18 13:53] szlaskidaniel commented on #21
yep, correct. I don't think we could do anything with this

[2019-10-25 12:53] dbiphoner opened #22 "Not responding since ios13"
Hello,

Since i am on ios13 the riscoalarm accesory is not responding anymore.

[2019-10-25 13:06] andyblac commented on #22
more info?, you mean Homekit is only saying "Not Responding" ??

it seems ok for me.

[2019-10-25 14:40] dbiphoner commented on #22
I am using version 1.2.5

this is config

        {
            "accessory": "RiscoAlarm",
            "name": "RiscoAlarm",
            "polling": true,
            "pollInterval": 15000,
            "riscoUsername": "xxx",
            "riscoPassword": "xxx",
            "riscoSiteId": xxxxxx,
            "riscoPIN": "xxxx",
            "armCommand": "armed",
            "partialCommand": "partia

[2019-10-25 14:49] andyblac commented on #22
then you need to update the plugin with the version in git, not via npm.

[2019-10-25 14:51] dbiphoner commented on #22
I tried to change the passwordt to... no luck

[2019-10-25 14:52] andyblac commented on #22
password is not the issue, you need to use git version.

[2019-10-25 14:54] gawindx commented on #22
This is exactly like the problem that occurred when Risco updated the Cloud.

You should check that the contents of the risco.js and app.js files correspond to the current file on this github (last version).

If they are not the same then your problem would be identified.

On the other hand if the files are very identical, one will be able to conclude that you face a new problem still unidentified

[2019-10-25 15:01] dbiphoner commented on #22
yes there @ in the pasword, but that always has been.

How do i perform update with git?

grtz

[2019-10-25 15:05] andyblac commented on #22
download the zip, https://github.com/szlaskidaniel/homebridge-risco-alarm/archive/master.zip unzip and FTP to your plugin folder on your homebridge setup.

[2019-10-25 15:06] dbiphoner commented on #22
i am using docker container on synlogy NAS, i have to look into that

[2019-10-25 15:31] dbiphoner commented on #22
ok problem fixed thanks!!

[2019-10-25 16:55] andyblac commented on #22
good to here, can you close ticket :)

[2019-10-26 07:54] dbiphoner commented on #22
Thanx

[2019-10-26 07:54] #22 closed

[2019-12-04 10:36] reinierkops opened #23 "Username/password mismatch"
When i see the logging, i get this error:
 login [step1] > error:
                                    Username/Password mismatch
<br />Try again | stdout
-- | --

While i'm sure the username/password is correct

[2019-12-04 10:39] andyblac commented on #23
update plugin, use the version in GitHub, the version in NPM is not the latest, use the link below to download from github and install manually.

https://github.com/szlaskidaniel/homebridge-risco-alarm/archive/master.zip

[2019-12-16 15:29] reinierkops commented on #23
Thanks, that the solution!

[2019-12-16 15:29] #23 closed

[2020-03-10 13:26] soulcook opened #24 "Login doesn't work"
Hi

Great to have this plugin available, but unfortunately it doesn't seem to be working. I am 100% certain that I have entered my username and password correctly in the config, and these work fine when I login via the RISCO web interface, but on startup and every time the plugin tries to poll I get the following log message:

I've checked the config block several times and I'm pretty sure everyth

[2020-03-10 13:30] andyblac commented on #24
are you using the git code ? or code from npm ?, as the code from NPM is not current.

[2020-03-10 13:36] soulcook commented on #24
Thanks for the quick reply, Andy. I installed the plugin using the Homebridge Console. which I think pulls it from npm. Will try again using git code...

[2020-03-10 13:37] andyblac commented on #24
ye, give the git code a go, it should fix your issue.

[2020-03-10 13:38] soulcook commented on #24
wait a minute though... the installation instructions in the readme on git say to install using

npm install -g homebridge-risco-alarm

Won't this install the npm version again?

[2020-03-10 13:40] andyblac commented on #24
yes, just pull the git code [here](https://github.com/szlaskidaniel/homebridge-risco-alarm/archive/master.zip) unzip it, and upload to replace the content in the plugin folder on your install.

[2020-03-10 13:41] soulcook commented on #24
ok!

[2020-03-10 13:41] andyblac commented on #24
then restart homebridge.

[2020-03-10 13:42] soulcook commented on #24
yup. will try now.

[2020-03-10 14:04] soulcook commented on #24
It worked! Many thanks.

btw... there's a comma missing in the sample-config (and in the readme version) so it doesn't work as provided... just json syntax. Also I think the riscoSiteId value should be in quotes (string)

[2020-03-10 14:16] andyblac commented on #24
glad you got it working.

[2020-03-10 14:28] soulcook commented on #24
One more quick question: how do I tell it to do a PART SET? Can’t see a
way.

On Tue, 10 Mar 2020 at 14:17, Andy Blackburn <notifications@github.com>
wrote:

[2020-03-10 14:31] andyblac commented on #24
if you have set the ` "partialCommand": "partially",` in config, in HomeKit long press on Alarm icon and choose `Home`.

[2020-03-10 14:32] soulcook commented on #24
Great. Thanks again.

On Tue, 10 Mar 2020 at 14:31, Andy Blackburn <notifications@github.com>
wrote:

[2020-03-10 14:33] andyblac commented on #24
or try `Night` think either work.

[2020-03-10 14:55] #24 closed

[2020-05-24 14:28] steveharris08 opened #25 "Noob question regarding installing"
how do i install this from github on homebridge raspberry pi using homebridge app?
i am new to this and have a few programs installed and running but not sure how to do this
i am running homebridge on raspberry pi and use homebridge app on my iphone to setup etc

thanks

[2020-05-24 16:08] steveharris08 commented on #25
i have a mac which i installed cyberduck but still cannot find the risco folder to replace the files?

[2020-06-19 01:56] platini76 opened #26 "problem"
[2020-6-19 3:54:14] Plugin 'homebridge-risco-alarm-fork' tried to register with an incorrect plugin identifier: 'homebridge-risco-alarm'. Please report this to the developer!
[2020-6-19 3:54:14] Registering accessory 'homebridge-risco-alarm-fork.RiscoAlarm'

[2020-06-19 09:14] gawindx commented on #26
the risco-fork plugin is developed by someone other than szlaskidaniel, and szlaskidaniel has stopped maintaining the original plugin.
I personally develloped another plugin supporting more devices based on this same original plugin from szlaskidaniel.
you can find it under the name of « homebridge-risco-platform ».
the principle of configurations is essentially the same.

I know that there are st

[2021-04-16 07:03] #26 closed

[2021-04-16 07:03] #25 closed